/dist/
/nbproject/private/
/build/
nbproject/build-impl.xml
nbproject/genfiles.properties
build/web/WEB-INF/classes/
build/generated-sources/
build/generated-web-pages/
build/web/META-INF/
*.war
*.class
/projectSwp/dist/
projectSwp/nbproject/private/private.properties
projectSwp/nbproject/private/private.xml
projectSwp/nbproject/private/private.xml
projectSwp/nbproject/project.properties
projectSwp/src/java/dal/DBContext.java
/vn_pay/build/
/vn_pay/nbproject/private/
projectSwp/web/WEB-INF/credentials.json
projectSwp/build/web/WEB-INF/credentials.json
test/